registry=https://visualmeta-aws-153679301900.d.codeartifact.eu-central-1.amazonaws.com/npm/lz-central/
//visualmeta-aws-153679301900.d.codeartifact.eu-central-1.amazonaws.com/npm/lz-central/:always-auth=true
//visualmeta-aws-153679301900.d.codeartifact.eu-central-1.amazonaws.com/npm/lz-central/:_authToken=${CODEARTIFACT_AUTH_TOKEN}